<div class="content" role="main">
    <p>Scores: </p>
    <ul>
        <li *ngFor="let player of players">
            <strong>{{ player.name }}: </strong>
            <ng-container *ngFor="let s of player.score">[ {{ s }} ]</ng-container>
            Total: {{ getTotal(player.score) }}
        </li>
    </ul>

    <ng-container *ngIf="numberGuessed">
        <p>
            Félicitation <strong>{{ players[turn].name }}</strong>, vous avez trouvé le numéro magique
            en {{tries.length}}
            tours
        </p>
        <button class="btn btn-primary" (click)="newGampe()">Suivant</button>
    </ng-container>

    <ng-container *ngIf="!numberGuessed">
        <ng-container *ngIf="step===0">
            <p>Joueur <strong>{{ players[turn].name }}: </strong> Choisit ton numéro magique</p>
            <app-type-secret-code [code]="gameManager.players[turn].code"></app-type-secret-code>
        </ng-container>

        <ng-container *ngIf="step===1">
            <p>Joueur <strong>{{ players[(turn + 1) % 2].name }}: </strong> Devine le numéro magique</p>
            <app-type-secret-code [code]="currentTry"></app-type-secret-code>
        </ng-container>

        <app-dialer [cursor]="cursor" (add)="addDigit($event)" (erase)="eraseDigit()" (next)="nextStep()"></app-dialer>

        <div class="row mt-3" *ngIf="tries.length>0">
            <div class="col">Historique de vos tentatives</div>
        </div>
        <div class="row mt-3" *ngFor="let item of tries">
            <div class="col" *ngFor="let digit of item">
                <button class="btn" [ngClass]="'btn-'+digit.state">{{digit.digit}}</button>
            </div>
        </div>
    </ng-container>
</div>
