<div class="content" role="main">
    <p>Players</p>
    <form [formGroup]="orderForm">
        <div formArrayName="items"
             *ngFor="let item of orderItems.controls; let i = index;">
            <div [formGroupName]="i">
                <input formControlName="name">
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="start()">Start</button>
    </form>
</div>
