<div class="row mt-3">
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="1" [current]="current"></app-dialer-button>
    </div>
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="2" [current]="current"></app-dialer-button>
    </div>
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="3" [current]="current"></app-dialer-button>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="4" [current]="current"></app-dialer-button>
    </div>
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="5" [current]="current"></app-dialer-button>
    </div>
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="6" [current]="current"></app-dialer-button>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="7" [current]="current"></app-dialer-button>
    </div>
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="8" [current]="current"></app-dialer-button>
    </div>
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="9" [current]="current"></app-dialer-button>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <button type="button" class="btn btn-dark" (click)="eraseDigit()" [disabled]="cursor == 0" title="Effacer">
            <i class="fas fa-backspace"></i>
        </button>
    </div>
    <div class="col">
        <app-dialer-button (add)="addDigit($event)" digit="0" [current]="current"></app-dialer-button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" (click)="randomDigits()" title="Nombre aléatoire">
            <i class="fas fa-random"></i>
        </button>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <button type="button" class="btn btn-success w-100" (click)="nextStep()" [disabled]="cursor <= 3">
            <i class="fas fa-check"></i> Valider
        </button>
    </div>
</div>
